#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "keycode_japanese.h"


#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt { 
    flavor = "balanced"; 
    tapping-term-ms = <200>;
    quick-tap-ms = <150>; 
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>; 
    quick-tap-ms = <150>; 
};

// 0                                              1
//    2  3  4  5  6  7           8  9  10 11 12 13 
//    14 15 16 17 18 19          20 21 22 23 24 25
//    26 27 28 29 30 31          32 33 34 35 36 37
//    38 39 40 41 42 43          44 45       46 47


/ {
    combos { compatible = "zmk,combos"; 

        lang {
            bindings = <&kp GRAVE>;
            key-positions = <3 5>;
            layers = <0>;
            timeout-ms = <200>;
        };

        fopen {
            bindings = <&kp LG(N2)>;
            key-positions = <9 13>;
            layers = <0>;
            timeout-ms = <200>;
        };

       bootloader_R {
            bindings = <&bootloader>;
            key-positions = <1 8 44 47>;
            timeout-ms = <200>;
        };

       bootloader_L {
            bindings = <&bootloader>;
            key-positions = <0 7 38 43>;
            timeout-ms = <200>;
        };

        eq {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <8 20 32 34>;
            timeout-ms = <50>;
            layers = <0>;
        };

        bt0 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <9 21 33>;
            timeout-ms = <50>;
            layers = <0>;
        };

};





};





/ {
    behaviors {
      scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
          compatible = "zmk,behavior-sensor-rotate";
          label = "ENCODER_MSC_DOWN_UP";
          #sensor-binding-cells = <0>;
          bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
          tap-ms = <20>;
      };

      tab_slide: behavior_sensor_rotate_tab_slide {
          compatible = "zmk,behavior-sensor-rotate";
          label = "ENCODER_TAB_SLIDE";
          #sensor-binding-cells = <0>;
          bindings = <&kp LA(LG(RIGHT_ARROW))>, <&kp LA(LG(LEFT_ARROW))>;
          tap-ms = <20>;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp F5                                                                                                                                                &kp BACKSPACE

&kp ESCAPE          &kp Q        &kp E      &kp U         &kp P &kp LC(RG(LEFT))        &kp LG(RC(RIGHT)) &kp D        &kp T         &kp R       &lt 5 W       &mkp MB1

&mt LSHIFT TAB      &lt 3 O        &lt 2 A      &lt 1 I &mt LCTRL F &kp LC(RG(LEFT))        &kp LG(RC(RIGHT)) &mt RCTRL H  &lt 1 Y         &lt 2 K       &lt 3 S       &mt LEFT_SHIFT B

&lt 4 MINUS    &mt LGUI X   &mt LALT C &mt LSHIFT V  &mt LCTRL L &kp LC(RG(LEFT))        &kp LG(RC(RIGHT)) &mt RCTRL N &mt RSHIFT M  &mt RALT G  &mt RGUI J  &lt 4 Z

&kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &kp LC(RG(LEFT))   &kp LC(RG(LEFT))        &kp LG(RC(RIGHT)) &kp LG(RC(RIGHT))                   &lt 2 ESCAPE  &kp RIGHT_BRACKET
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &inc_dec_kp BACKSPACE DELETE
            >;
        };

        1 {
            bindings = <
&trans                                                                                                                       &trans

&kp 0x38     &none      &kp UP     &none       &none &trans &trans &kp TAB          &kp UP          &kp N8        &kp N9         &mkp MB2

&kp JP_SEMI  &kp LEFT   &kp GRAVE  &kp GRAVE   &kp MINUS &trans &trans &kp BACKSPACE  &kp SPACE       &kp TAB       &kp ENTER      &kp COMMA

&kp JP_COLON &none &none &none &none &trans &trans &kp DELETE  &kp N1 &kp N2 &kp N3 &mt LCTRL PERIOD

&kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &trans  &trans &trans  &mo 3                       &trans    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        2 {
            bindings = <
&trans                                                                                          &trans
&none        &kp JP_LT      &kp JP_EQUAL   &kp JP_RT  &none &trans &trans &none &kp JP_PLUS     &none        &kp JP_SLASH  &mkp MB3

&none        &kp JP_LPAR    &kp JP_AT      &kp JP_RPAR   &kp MINUS &trans &trans &kp JP_QMARK   &kp ENTER  &kp DOUBLE_QUOTES &kp LS(0x87)  &kp LS(0x1e)

&none        &kp JP_LBRC    &none          &kp JP_RBRC &none &trans &trans &kp DELETE          &none           &none         &none         &none
&kp F12     &trans  &trans  &trans  &trans  &trans      &trans  &trans                  &trans  &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        3 {
            bindings = <
&trans                                                                                                                                                                                 &trans
&none        &kp HOME   &kp UP     &kp PAGE_UP      &none &trans &trans &kp TAB          &kp N7          &kp N8        &kp N9         &mkp MB3

&none        &kp LEFT   &kp DOWN   &kp RIGHT        &none &trans &trans &kp BACKSPACE  &kp N4          &mt RGUI N5        &kp N6         &kp ENTER

&none        &kp END    &none      &kp PAGE_DOWN    &none &trans &trans &kp N0         &kp N1          &kp N2        &kp N3         &mt LCTRL PERIOD
&trans     &trans                  &trans          &trans                   &trans             &trans      &trans  &trans                                         &trans               &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

         4 {
            bindings = <
&trans                                                                                                                                                                  &trans
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5 &trans &trans &kp F6  &kp F7  &kp F8  &kp F9  &kp F10

&none   &none   &kp JP_AT   &none   &none &trans &trans &none   &none   &none   &kp JP_HASH   &none

&mt LEFT_SHIFT NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3 &kp PERIOD &trans &trans  &kp NUMBER_0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL
&trans                   &trans        &trans        &trans                &trans        &trans      &trans  &kp LEFT_SHIFT                               &trans        &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        5 {
            bindings = <
&trans                                                                                       &trans
&kp F1  &msc SCRL_RIGHT  &mmv MOVE_UP     &msc SCRL_UP  &kp F5 &trans &trans &kp F1  &kp F2  &kp F3  &kp F4  &kp F5

&none   &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT &none &trans &kp F13 &kp F6  &kp F7  &kp F8  &kp F9  &kp F10

&trans  &msc SCRL_LEFT   &trans           &msc SCRL_DOWN &trans &trans &trans &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                  &trans  &kp F12
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };

        BT {
            bindings = <
&trans                                                                                                                                      &trans
&kp LG(Q)      &kp LC(W)  &trans     &trans     &trans  &trans      &trans  &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp LG(LS(Z))  &trans     &kp LC(C)  &trans     &trans  &trans      &trans  &trans      &trans      &trans        &trans        &trans
&kp LG(Z)      &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans  &trans      &trans  &trans      &trans      &trans        &trans        &trans
&trans         &trans     &trans     &trans     &trans  &trans      &trans  &trans                                &trans        &trans
            >;

            sensor-bindings = <
                &inc_dec_kp RIGHT_ARROW LEFT_ARROW
                &scroll_up_down
            >;
        };
    };
};
